.temp1 {
  img {
    object-fit: cover;
  }

  .template {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .template .overlap-wrapper {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 6995px;
  }

  .template .overlap {
    position: relative;
    height: 7001px;
  }

  .template .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  .template .section-hero {
    position: relative;
    width: 1440px;
    height: 883px;
  }

  .template .hero-title-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    top: 241px;
    left: 80px;
  }

  .template .hero-text-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .pawsitively-perfect {
    position: relative;
    width: 630px;
    margin-top: -1px;
    font-family: "Formative Trial-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 60px;
    letter-spacing: 1.2px;
    line-height: 60px;
  }

  .template .welcome-to-paws-n {
    position: relative;
    width: 630px;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }

  .template .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
  }

  .template .button-base {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 16px 28px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid;
    border-color: #ffffff;
  }

  .template .text {
    width: fit-content;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    line-height: 28px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
  }

  .template .fluent-emoji-flat {
    position: relative;
    width: 32px;
    height: 32px;
  }

  .template .container-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 70px 80px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .container {
    position: relative;
    width: 1280px;
    height: 876px;
  }

  .template .div {
    position: absolute;
    width: 1201px;
    height: 768px;
    top: 108px;
    left: 40px;
    background-color: #ffffff;
    border: 0.2px solid;
    border-color: #000000;
  }

  .template .frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: relative;
    top: 40px;
    left: 21px;
  }

  .template .frame-3 {
    display: flex;
    width: 1158px;
    align-items: center;
    gap: 563px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 35px;
    letter-spacing: 0;
    line-height: 35px;
    white-space: nowrap;
  }

  .template .frame-wrapper {
    position: relative;
    width: 281px;
    height: 50px;
    margin-right: -6px;
    background-color: #f4f4f4;
    border-radius: 50px;
    overflow: hidden;
  }

  .template .frame-4 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 13px;
    left: 11px;
  }

  .template .img {
    position: relative;
    width: 24px;
    height: 24px;
  }

  .template .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: #10182861;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 17px;
    white-space: nowrap;
  }

  .template .frame-5 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .frame-6 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 25px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    border: none;
    box-shadow: 5px 4px 10.9px #0000001a;
    background: linear-gradient(
      62deg,
      rgba(16, 24, 40, 1) 0%,
      rgba(35, 50, 80, 1) 100%
    );
  }

  .template .frame-6::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 8px;
    background: linear-gradient(
      79deg,
      rgba(36, 57, 97, 1) 0%,
      rgba(16, 24, 40, 1) 100%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 1;
    pointer-events: none;
  }

  .template .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }

  .template .frame-7 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: #000000b2;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }

  .template .frame-8 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 36px;
    position: relative;
    flex: 0 0 auto;
    width: 100%;
  }

  .template .frame-9 {
    display: inline-flex;
    align-items: flex-start;
    gap: 17px;
    position: relative;
    flex: 0 0 auto;
    width: 100%;

    .product-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      margin-top: 10px;
    }

    .product-title {
      font-weight: 600;
      font-size: 1rem;
    }

    .product-price {
      color: #444;
      margin: 4px 0;
    }

    .buy-button {
      padding: 6px 12px;
      background-color: #ff4081;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 10px;
    }
  }

  .template .product-card {
    position: relative;
    width: 375px;
    height: 447px;
    background-color: #ffffff;
    border-radius: 10px;
  }

  .template .chemarro-about-a {
    width: 375px;
    height: 447px;
    object-fit: cover;
    border-radius: 10px;
  }

  .template .view-more {
    position: relative;
    width: fit-content;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: #101828;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
    margin-top: 1em;
  }

  .template .frame-wrapper-2 {
    position: absolute;
    width: 1280px;
    height: 68px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-bottom-width: 0.2px;
    border-bottom-style: solid;
    border-color: #000000;
  }

  .template .frame-10 {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    position: relative;
    top: 17px;
  }

  .template .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Formative Trial-Medium", Helvetica;
    font-weight: 500;
    color: #101828;
    font-size: 35px;
    letter-spacing: 0;
    line-height: 35px;
    white-space: nowrap;
  }

  .template .frame-11 {
    display: flex;
    flex-wrap: wrap;
    width: 717px;
    align-items: flex-start;
    gap: 15px 15px;
    position: absolute;
    top: 27px;
    left: 30px;
  }

  .template .overlap-group-wrapper {
    position: relative;
    width: 350px;
    height: 350px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
  }

  .template .overlap-group {
    position: relative;
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
  }

  .template .text-wrapper-6 {
    position: absolute;
    top: 149px;
    left: 60px;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 0;
    line-height: 50px;
    white-space: nowrap;
  }

  .template .overlap-2 {
    position: relative;
    height: 350px;
    background-image: url(https://c.animaapp.com/mb8qgflo3CNVJD/img/image-2.png);
    background-size: cover;
    background-position: 50% 50%;
  }

  .template .text-wrapper-7 {
    position: absolute;
    top: 149px;
    left: 70px;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 0;
    line-height: 50px;
    white-space: nowrap;
  }

  .template .overlap-3 {
    position: relative;
    height: 350px;
    background-image: url(https://c.animaapp.com/mb8qgflo3CNVJD/img/image-3.png);
    background-size: cover;
    background-position: 50% 50%;
  }

  .template .text-wrapper-8 {
    position: absolute;
    top: 149px;
    left: 53px;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 0;
    line-height: 50px;
    white-space: nowrap;
  }

  .template .overlap-4 {
    position: relative;
    height: 350px;
    background-image: url(https://c.animaapp.com/mb8qgflo3CNVJD/img/image-1.png);
    background-size: cover;
    background-position: 50% 50%;
  }

  .template .text-wrapper-9 {
    position: absolute;
    top: 149px;
    left: 81px;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 0;
    line-height: 50px;
    white-space: nowrap;
  }

  .template .frame-12 {
    position: absolute;
    width: 409px;
    height: 715px;
    top: 27px;
    left: 762px;
    background-color: #10182845;
    border-radius: 10px;
    overflow: hidden;
  }

  .template .overlap-5 {
    position: relative;
    height: 715px;
    background-image: url(https://c.animaapp.com/mb8qgflo3CNVJD/img/weestar-a-pale-colorful-gradient-chupa-chup-shaped-pet-house-by-.png);
    background-size: cover;
    background-position: 50% 50%;
  }

  .template .text-wrapper-10 {
    position: absolute;
    top: 332px;
    left: 96px;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 0;
    line-height: 50px;
    white-space: nowrap;
  }

  .template .group {
    position: absolute;
    width: 552px;
    height: 645px;
    top: 62px;
    left: 608px;
  }

  .template .overlap-group-2 {
    position: relative;
    height: 645px;
  }

  .template .mask-group {
    position: absolute;
    width: 465px;
    height: 561px;
    top: 0;
    left: 87px;
    object-fit: cover;
    border-radius: 1em;
  }

  .template .mask-group-2 {
    position: absolute;
    width: 223px;
    height: 223px;
    top: 422px;
    left: 0;
    object-fit: cover;
    border: 1em solid white;
    border-radius: 1em;
  }

  .template .flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    width: 570px;
    height: 652px;
    top: 58px;
    left: 34px;
  }

  .template .span-wrapper {
    position: relative;
    align-self: stretch;
    font-family: "Formative Trial-Regular", Helvetica;
    font-weight: 400;
    color: #101828;
    font-size: 21px;
    letter-spacing: 0;
    line-height: 21px;
  }

  .template .span {
    font-family: "Formative Trial-Regular", Helvetica;
    font-weight: 400;
    color: #101828;
    font-size: 21px;
    letter-spacing: 0;
    line-height: 21px;
  }

  .template .team-section {
    width: 1440px;
    align-items: center;
    gap: 64px;
    padding: 70px 0px;
    flex: 0 0 auto;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .template .about-header {
    position: relative;
    width: 1280px;
    height: 68px;
    background-color: #ffffff;
    border-bottom-width: 0.2px;
    border-bottom-style: solid;
    border-color: #000000;
  }

  .template .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 1280px;
    align-items: flex-start;
    gap: 64px;
    padding: 0px 32px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .div-2 {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .template .team-member {
    align-items: flex-start;
    gap: 24px;
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .template .img-2 {
    position: relative;
    width: 280px;
    height: 296px;
    object-fit: cover;
  }

  .template .div-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .template .div-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .template .name-and-role {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .template .name {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: #101828;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
  }

  .template .role {
    position: relative;
    align-self: stretch;
    font-family: "Formative Trial-Regular", Helvetica;
    font-weight: 400;
    color: #10182880;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
  }

  .template .social-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .template .unsplash {
    position: relative;
    width: 280px;
    height: 296px;
  }

  .template .rich-text-section {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: center;
    justify-content: center;
    gap: 64px;
    padding: 70px 0px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--white);
  }

  .template .container-2 {
    display: flex;
    width: 1280px;
    align-items: flex-start;
    justify-content: center;
    gap: 64px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }

  .template .div-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .template .heading {
    font-size: 36px;
    letter-spacing: -0.72px;
    line-height: 44px;
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: var(--gray-900);
  }

  .template .div-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .template .divider {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
  }

  .template .paragraph {
    position: relative;
    align-self: stretch;
    font-family: "Formative Trial-Regular", Helvetica;
    font-weight: 400;
    color: var(--gray-500);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 18px;
  }

  .template .text-wrapper-11 {
    line-height: 28px;
  }

  .template .text-wrapper-12 {
    line-height: 28px;
    text-decoration: underline;
  }

  .template .heading-2 {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: var(--gray-900);
  }

  .template .p {
    position: relative;
    align-self: stretch;
    font-family: "Formative Trial-Regular", Helvetica;
    font-weight: 400;
    color: var(--gray-500);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
  }

  .template .frame-13 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 25px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    border: none;
    background: linear-gradient(
      62deg,
      rgba(16, 24, 40, 1) 0%,
      rgba(35, 50, 80, 1) 100%
    );
  }

  .template .frame-13::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 8px;
    background: linear-gradient(
      79deg,
      rgba(36, 57, 97, 1) 0%,
      rgba(16, 24, 40, 1) 100%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 1;
    pointer-events: none;
  }

  .template .text-wrapper-13 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Formative Trial-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }

  .template .image {
    position: relative;
    flex: 1;
    flex-grow: 1;
    height: 649px;
  }

  .template .octicon-play {
    position: absolute;
    width: 164px;
    height: 164px;
    top: 243px;
    left: 222px;
  }

  .template .contact-sections {
    width: 1440px;
    align-items: center;
    gap: 64px;
    padding: 70px 0px;
    flex: 0 0 auto;
    background-color: #101828;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .template .about-header-2 {
    position: relative;
    width: 1280px;
    height: 68px;
    background-color: #101828;
    border-bottom-width: 0.2px;
    border-bottom-style: solid;
    border-color: #ffffff;
  }

  .template .text-wrapper-14 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Formative Trial-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 0;
    line-height: 35px;
    white-space: nowrap;
  }

  .template .container-3 {
    display: flex;
    width: 1280px;
    align-items: center;
    gap: 64px;
    padding: 0px 32px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 40px 32px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: var(--white);
    border-radius: 16px;
  }

  .template .form {
    display: flex;
    flex-direction: column;
    width: 480px;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .input-field {
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    flex-grow: 1;
    display: flex;
    position: relative;
  }

  .template .div-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .template .label {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Formative Trial-Medium", Helvetica;
    font-weight: 500;
    color: var(--gray-700);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
    background: transparent;
    border: none;
    padding: 0;
  }

  .template .input {
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--white);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: #cfd4dc;
    box-shadow: var(--shadow-xs);
    display: flex;
    position: relative;
  }

  .template .content-2 {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }

  .template .text-2 {
    flex: 1;
    margin-top: -1px;
    font-family: "Formative Trial-Regular", Helvetica;
    font-weight: 400;
    color: var(--gray-500);
    font-size: 16px;
    line-height: 24px;
    position: relative;
    letter-spacing: 0;
    background: transparent;
    border: none;
    padding: 0;
  }

  .template .input-field-base-wrapper {
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .template .textarea-input-field {
    display: flex;
    flex-direction: column;
    height: 154px;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
  }

  .template .div-8 {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
    display: flex;
    position: relative;
  }

  .template .label-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Formative Trial-Medium", Helvetica;
    font-weight: 500;
    color: var(--gray-700);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }

  .template .input-2 {
    align-items: center;
    gap: 8px;
    padding: 10px 14px;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid;
    border-color: #cfd4dc;
    box-shadow: var(--shadow-xs);
    display: flex;
    position: relative;
  }

  .template .checkbox {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .template .checkbox-base-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
  }

  .template .checkbox-base {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: var(--white);
    border-radius: 6px;
    border: 1px solid;
    border-color: #cfd4dc;
  }

  .template .text-3 {
    flex: 1;
    margin-top: -1px;
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    color: var(--gray-500);
    font-size: var(--text-md-regular-font-size);
    line-height: var(--text-md-regular-line-height);
    position: relative;
    letter-spacing: var(--text-md-regular-letter-spacing);
    font-style: var(--text-md-regular-font-style);
  }

  .template .text-wrapper-15 {
    color: #667084;
    line-height: var(--text-md-regular-line-height);
    font-family: var(--text-md-regular-font-family);
    font-style: var(--text-md-regular-font-style);
    font-weight: var(--text-md-regular-font-weight);
    letter-spacing: var(--text-md-regular-letter-spacing);
    font-size: var(--text-md-regular-font-size);
  }

  .template .text-wrapper-16 {
    color: #667084;
    line-height: var(--text-md-regular-line-height);
    text-decoration: underline;
    font-family: var(--text-md-regular-font-family);
    font-style: var(--text-md-regular-font-style);
    font-weight: var(--text-md-regular-font-weight);
    letter-spacing: var(--text-md-regular-letter-spacing);
    font-size: var(--text-md-regular-font-size);
  }

  .template .button-base-wrapper {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
    border-radius: 8px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .button-base-2 {
    position: relative;
    flex: 1;
    flex-grow: 1;
  }

  .template .content-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }

  .template .div-9 {
    align-items: flex-start;
    gap: 16px;
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .template .text-and-supporting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .template .text-4 {
    align-self: stretch;
    margin-top: -1px;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: var(--white);
    font-size: 20px;
    line-height: 30px;
    position: relative;
    letter-spacing: 0;
  }

  .template .supporting-text {
    position: relative;
    align-self: stretch;
    font-family: "Formative Trial-Regular", Helvetica;
    font-weight: 400;
    color: #cdcdcd;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }

  .template .button-2 {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }

  .template .button-base-3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .text-5 {
    width: fit-content;
    margin-top: -1px;
    font-family: var(--text-md-semibold-font-family);
    font-weight: var(--text-md-semibold-font-weight);
    color: var(--white);
    font-size: var(--text-md-semibold-font-size);
    line-height: var(--text-md-semibold-line-height);
    white-space: nowrap;
    position: relative;
    letter-spacing: var(--text-md-semibold-letter-spacing);
    font-style: var(--text-md-semibold-font-style);
  }

  .template .text-6 {
    width: fit-content;
    margin-top: -1px;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: var(--white);
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
  }

  .template .button-3 {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }

  .template .text-7 {
    width: fit-content;
    margin-top: -1px;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: var(--white);
    font-size: 16px;
    line-height: 16px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
  }

  .template .footer {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    background-color: #101828;
  }

  .template .section {
    align-items: center;
    gap: 64px;
    padding: 48px 0px;
    background-color: #101828;
    border-top-width: 0.5px;
    border-top-style: solid;
    border-color: #cdcdcd;
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .template .content-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .template .text-and-supporting-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
  }

  .template .text-8 {
    align-self: stretch;
    margin-top: -1px;
    font-family: "Formative Trial-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    letter-spacing: 0;
  }

  .template .supporting-text-2 {
    font-family: "Formative Trial-Medium", Helvetica;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    align-self: stretch;
    color: #cdcdcd;
    letter-spacing: 0;
  }

  .template .email-capture {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .input-field-2 {
    width: 280px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .template .input-3 {
    align-items: center;
    gap: 8px;
    padding: 10px 14px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #dddddd;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: #cfd4dc;
    box-shadow: var(--shadow-xs);
    display: flex;
    position: relative;
  }

  .template .text-9 {
    flex: 1;
    margin-top: -1px;
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    color: #667084;
    font-size: var(--text-md-regular-font-size);
    line-height: var(--text-md-regular-line-height);
    position: relative;
    letter-spacing: var(--text-md-regular-letter-spacing);
    font-style: var(--text-md-regular-font-style);
    background: transparent;
    border: none;
    padding: 0;
  }

  .template .button-base-4 {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 18px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--white);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: #cfd4dc;
    box-shadow: var(--shadow-xs);
  }

  .template .text-10 {
    width: fit-content;
    margin-top: -1px;
    font-family: var(--text-md-semibold-font-family);
    font-weight: var(--text-md-semibold-font-weight);
    color: var(--gray-700);
    font-size: var(--text-md-semibold-font-size);
    line-height: var(--text-md-semibold-line-height);
    white-space: nowrap;
    position: relative;
    letter-spacing: var(--text-md-semibold-letter-spacing);
    font-style: var(--text-md-semibold-font-style);
  }

  .template .section-2 {
    align-items: center;
    gap: 64px;
    padding: 64px 0px 48px;
    background-color: #101828;
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .template .container-4 {
    display: flex;
    flex-direction: column;
    width: 1280px;
    align-items: flex-start;
    gap: 48px;
    padding: 0px 32px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .content-5 {
    display: flex;
    align-items: flex-start;
    gap: 64px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .template .logo-and-supporting {
    display: flex;
    flex-direction: column;
    width: 320px;
    align-items: flex-start;
    gap: 32px;
    position: relative;
  }

  .template .logo {
    display: inline-flex;
    align-items: center;
    gap: 11px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .text-wrapper-17 {
    position: relative;
    width: fit-content;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }

  .template .supporting-text-3 {
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    font-size: var(--text-md-regular-font-size);
    line-height: var(--text-md-regular-line-height);
    position: relative;
    align-self: stretch;
    color: #cdcdcd;
    letter-spacing: var(--text-md-regular-letter-spacing);
    font-style: var(--text-md-regular-font-style);
  }

  .template .links {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }

  .template .heading-3 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
  }

  .template .footer-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .text-11 {
    width: fit-content;
    margin-top: -1px;
    font-family: var(--text-md-semibold-font-family);
    font-weight: var(--text-md-semibold-font-weight);
    color: #cdcdcd;
    font-size: var(--text-md-semibold-font-size);
    line-height: var(--text-md-semibold-line-height);
    white-space: nowrap;
    position: relative;
    letter-spacing: var(--text-md-semibold-letter-spacing);
    font-style: var(--text-md-semibold-font-style);
  }

  .template .container-5 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 0px 32px;
    position: relative;
    flex: 0 0 auto;
    width: 1280px;
  }

  .template .divider-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    background-color: #cdcdcd80;
  }

  .template .content-6 {
    display: flex;
    align-items: center;
    gap: 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .template .footer-text {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    color: #cdcdcd;
    font-size: var(--text-md-regular-font-size);
    letter-spacing: var(--text-md-regular-letter-spacing);
    line-height: var(--text-md-regular-line-height);
    font-style: var(--text-md-regular-font-style);
  }

  .template .social-icons-2 {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .sectio-navbar {
    position: absolute;
    width: 1440px;
    height: 80px;
    top: 0;
    left: 0;
  }

  .template .header {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 80px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
  }

  .template .container-6 {
    display: flex;
    width: 1280px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 32px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .content-7 {
    display: inline-flex;
    align-items: center;
    gap: 50px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .nav-menu {
    display: inline-flex;
    align-items: center;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .dropdown-header {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 0px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .text-12 {
    width: fit-content;
    margin-top: -1px;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: #ffffffcc;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
  }

  .template .chevron-down {
    position: relative;
    width: 20px;
    height: 20px;
  }

  .template .navigation-actions {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .button-4 {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: flex-start;
    border-radius: 50px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .button-base-5 {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 18px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid;
    box-shadow: var(--shadow-xs);
  }

  .template .text-13 {
    width: fit-content;
    margin-top: -1px;
    font-family: "Formative Trial-Bold", Helvetica;
    font-weight: 700;
    color: #101828;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
  }
}
