.temp3 {
  .template {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background-color: #ffffff;
  }

  .template .header {
    position: relative;
    width: 1440px;
    height: 1037px;
    background-color: var(--light-gray-1);
    overflow: hidden;
  }

  .template .overlap {
    position: relative;
    height: 1041px;
  }

  .template .background {
    position: absolute;
    width: 1440px;
    height: 843px;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .template .hero-bg-shape {
    position: relative;
    height: 771px;
    left: 80px;
    overflow: hidden;
  }

  .template .overlap-group {
    position: relative;
    width: 1440px;
    height: 853px;
  }

  .template .none {
    position: absolute;
    width: 1440px;
    height: 700px;
    top: 0;
    left: 0;
  }

  .template .div {
    position: relative;
    height: 700px;
  }

  .template .rectangle {
    position: absolute;
    width: 1440px;
    height: 612px;
    top: 0;
    left: 0;
    background-color: var(--light-text-gray-1);
  }

  .template .rectangle-2 {
    position: absolute;
    width: 520px;
    height: 626px;
    top: 74px;
    left: 720px;
    background-color: var(--faded-secondary-color-2);
    border-radius: 50px;
  }

  .template .overlap-wrapper {
    position: absolute;
    width: 734px;
    height: 757px;
    top: 96px;
    left: 520px;
  }

  .template .overlap-2 {
    position: relative;
    height: 675px;
  }

  .template .frame {
    position: absolute;
    width: 667px;
    height: 468px;
    top: 142px;
    left: 0;
  }

  .template .img {
    position: absolute;
    width: 568px;
    height: 374px;
    top: 0;
    left: 99px;
  }

  .template .vector {
    position: absolute;
    width: 631px;
    height: 444px;
    top: 92px;
    left: 103px;
  }

  .template .vector-2 {
    position: absolute;
    width: 53px;
    height: 53px;
    top: 123px;
    left: 155px;
  }

  .template .placeholder {
    position: absolute;
    width: 640px;
    height: 675px;
    top: 0;
    left: 94px;
    object-fit: cover;
  }

  .template .container {
    position: absolute;
    width: 1322px;
    height: 91px;
    top: 0;
    left: 59px;
  }

  .template .navbar-style {
    position: relative;
    height: 91px;
  }

  .template .navbar-brand-sec {
    position: absolute;
    width: 187px;
    height: 58px;
    top: 17px;
    left: 136px;
  }

  .template .text-wrapper {
    position: absolute;
    top: 12px;
    left: 0;
    font-family: "Montserrat", Helvetica;
    font-weight: 700;
    color: #252b42;
    font-size: 24px;
    letter-spacing: 0.1px;
    line-height: 32px;
    white-space: nowrap;
  }

  .template .navbar-toggler {
    position: absolute;
    width: 24px;
    height: 14px;
    top: 39px;
    left: 1298px;
  }

  .template .collapse-navbar {
    position: absolute;
    width: 815px;
    height: 58px;
    top: 16px;
    left: 364px;
  }

  .template .navbar-nav {
    display: inline-flex;
    align-items: center;
    gap: 21px;
    position: absolute;
    top: 17px;
    left: 0;
  }

  .template .li-sec {
    position: relative;
    width: 43px;
    height: 24px;
  }

  .template .a {
    position: relative;
    height: 24px;
  }

  .template .link {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: var(--link-font-family);
    font-weight: var(--link-font-weight);
    color: var(--second-text-color);
    font-size: var(--link-font-size);
    text-align: center;
    letter-spacing: var(--link-letter-spacing);
    line-height: var(--link-line-height);
    white-space: nowrap;
    font-style: var(--link-font-style);
  }

  .template .a-wrapper {
    width: 59px;
    position: relative;
    height: 24px;
  }

  .template .div-wrapper {
    width: 52px;
    position: relative;
    height: 24px;
  }

  .template .li-sec-2 {
    width: 58px;
    position: relative;
    height: 24px;
  }

  .template .navbar-nav-2 {
    display: inline-flex;
    align-items: center;
    gap: 45px;
    position: absolute;
    top: 3px;
    left: 515px;
  }

  .template .nav-item-sec {
    position: relative;
    width: 41px;
    height: 22px;
  }

  .template .btn-text-wrapper {
    all: unset;
    box-sizing: border-box;
    position: relative;
    height: 22px;
  }

  .template .btn-text {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    top: -1px;
    left: 0;
    font-family: var(--btn-text-font-family);
    font-weight: var(--btn-text-font-weight);
    color: var(--primary-color);
    font-size: var(--btn-text-font-size);
    text-align: right;
    letter-spacing: var(--btn-text-letter-spacing);
    line-height: var(--btn-text-line-height);
    white-space: nowrap;
    font-style: var(--btn-text-font-style);
  }

  .template .button-btn-primary-wrapper {
    position: relative;
    width: 214px;
    height: 52px;
  }

  .template .button-btn-primary {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    padding: 15px 25px;
    position: relative;
    background-color: var(--primary-color);
    border-radius: 5px;
    overflow: hidden;
  }

  .template .btn-text-2 {
    color: #ffffff;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--btn-text-font-family);
    font-weight: var(--btn-text-font-weight);
    font-size: var(--btn-text-font-size);
    letter-spacing: var(--btn-text-letter-spacing);
    line-height: var(--btn-text-line-height);
    white-space: nowrap;
    font-style: var(--btn-text-font-style);
  }

  .template .icn-arrow-right-icn {
    position: relative;
    width: 12px;
    height: 10px;
  }

  .template .container-2 {
    display: flex;
    flex-direction: column;
    width: 1046px;
    align-items: flex-start;
    gap: 80px;
    padding: 80px 0px;
    position: absolute;
    top: 104px;
    left: 197px;
  }

  .template .row {
    display: inline-flex;
    align-items: center;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .col-md {
    flex-direction: column;
    width: 599px;
    align-items: flex-start;
    gap: 35px;
    display: flex;
    position: relative;
  }

  .template .header-tag-sec {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--h-5-font-family);
    font-weight: var(--h-5-font-weight);
    color: var(--primary-color);
    font-size: var(--h-5-font-size);
    letter-spacing: var(--h-5-letter-spacing);
    line-height: var(--h-5-line-height);
    white-space: nowrap;
    font-style: var(--h-5-font-style);
  }

  .template .headline-sec {
    position: relative;
    width: 542px;
    font-family: var(--h-1-font-family);
    font-weight: var(--h-1-font-weight);
    color: var(--text-color);
    font-size: var(--h-1-font-size);
    letter-spacing: var(--h-1-letter-spacing);
    line-height: var(--h-1-line-height);
    font-style: var(--h-1-font-style);
  }

  .template .sub-headline-sec {
    position: relative;
    width: 496px;
    font-family: var(--h-4-font-family);
    font-weight: var(--h-4-font-weight);
    color: var(--second-text-color);
    font-size: var(--h-4-font-size);
    letter-spacing: var(--h-4-letter-spacing);
    line-height: var(--h-4-line-height);
    font-style: var(--h-4-font-style);
  }

  .template .cta {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .button-md-sec {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px 40px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--primary-color);
    border-radius: 5px;
    overflow: hidden;
  }

  .template .btn-text-3 {
    color: #ffffff;
    text-align: center;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--btn-text-font-family);
    font-weight: var(--btn-text-font-weight);
    font-size: var(--btn-text-font-size);
    letter-spacing: var(--btn-text-letter-spacing);
    line-height: var(--btn-text-line-height);
    white-space: nowrap;
    font-style: var(--btn-text-font-style);
  }

  .template .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px 40px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
    border-color: #96bb7c;
  }

  .template .btn-text-4 {
    all: unset;
    box-sizing: border-box;
    color: var(--primary-color);
    text-align: center;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--btn-text-font-family);
    font-weight: var(--btn-text-font-weight);
    font-size: var(--btn-text-font-size);
    letter-spacing: var(--btn-text-letter-spacing);
    line-height: var(--btn-text-line-height);
    white-space: nowrap;
    font-style: var(--btn-text-font-style);
  }

  .template .col-md-2 {
    position: relative;
    width: 415px;
    height: 280px;
  }

  .template .card-wrapper {
    display: flex;
    flex-direction: column;
    width: 328px;
    align-items: flex-start;
    position: relative;
  }

  .template .card {
    display: flex;
    flex-direction: column;
    width: 328px;
    align-items: flex-start;
    gap: 20px;
    padding: 35px 40px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--light-background-color);
    box-shadow: var(--accentued-drop-shadow);
  }

  .template .circle-sec {
    position: relative;
    width: 72px;
    height: 72px;
    background-color: var(--danger-color);
    border-radius: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .template .icon-cool-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 22px;
    left: 19px;
  }

  .template .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: var(--h-3-font-family);
    font-weight: var(--h-3-font-weight);
    color: var(--text-color);
    font-size: var(--h-3-font-size);
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    white-space: nowrap;
    font-style: var(--h-3-font-style);
  }

  .template .fixed-width-fixed {
    position: relative;
    width: 50px;
    height: 2px;
    background-color: var(--danger-color);
  }

  .template .p {
    position: relative;
    width: fit-content;
    font-family: var(--paragraph-font-family);
    font-weight: var(--paragraph-font-weight);
    color: var(--second-text-color);
    font-size: var(--paragraph-font-size);
    letter-spacing: var(--paragraph-letter-spacing);
    line-height: var(--paragraph-line-height);
    font-style: var(--paragraph-font-style);
  }

  .template .col-md-3 {
    flex-direction: column;
    width: 329px;
    align-items: flex-start;
    display: flex;
    position: relative;
  }

  .template .stats {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 264px;
    background-color: var(--light-background-color);
  }

  .template .row-wrapper {
    display: flex;
    flex-direction: column;
    width: 1050px;
    align-items: center;
    gap: 50px;
    padding: 80px 0px;
    position: relative;
    left: 195px;
  }

  .template .row-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .div-2 {
    flex-direction: column;
    width: 238px;
    align-items: center;
    display: flex;
    position: relative;
  }

  .template .metrics {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--h-1-font-family);
    font-weight: var(--h-1-font-weight);
    color: var(--primary-color);
    font-size: var(--h-1-font-size);
    text-align: center;
    letter-spacing: var(--h-1-letter-spacing);
    line-height: var(--h-1-line-height);
    white-space: nowrap;
    font-style: var(--h-1-font-style);
  }

  .template .metrics-title {
    position: relative;
    width: fit-content;
    font-family: var(--h-5-font-family);
    font-weight: var(--h-5-font-weight);
    color: var(--text-color);
    font-size: var(--h-5-font-size);
    text-align: center;
    letter-spacing: var(--h-5-letter-spacing);
    line-height: var(--h-5-line-height);
    white-space: nowrap;
    font-style: var(--h-5-font-style);
  }

  .template .div-3 {
    width: 241px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .template .div-4 {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .template .element-layout {
    height: 761px;
    position: relative;
    width: 1440px;
    background-color: var(--light-background-color);
  }

  .template .container-3 {
    display: flex;
    flex-direction: column;
    width: 1050px;
    align-items: center;
    padding: 160px 0px;
    position: relative;
    left: 195px;
  }

  .template .row-3 {
    display: flex;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
  }

  .template .col-md-4 {
    flex-direction: column;
    width: 507px;
    align-items: flex-start;
    gap: 35px;
    display: flex;
    position: relative;
  }

  .template .fixed-width-fixed-2 {
    position: relative;
    width: 94px;
    height: 7px;
    background-color: var(--danger-color);
  }

  .template .section-title {
    position: relative;
    width: fit-content;
    font-family: var(--h-2-font-family);
    font-weight: var(--h-2-font-weight);
    color: var(--text-color);
    font-size: var(--h-2-font-size);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    white-space: nowrap;
    font-style: var(--h-2-font-style);
  }

  .template .div-5 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--link-font-family);
    font-weight: var(--link-font-weight);
    color: var(--primary-text-color);
    font-size: var(--link-font-size);
    letter-spacing: var(--link-letter-spacing);
    line-height: var(--link-line-height);
    white-space: nowrap;
    font-style: var(--link-font-style);
  }

  .template .icon-arrow-next {
    position: relative;
    width: 9px;
    height: 16px;
  }

  .template .thumb-concept-wrapper {
    width: 513px;
    align-items: flex-start;
    gap: 30px;
    display: flex;
    position: relative;
  }

  .template .thumb-concept {
    position: relative;
    width: 504px;
    height: 423.92px;
    overflow: hidden;
  }

  .template .overlap-3 {
    position: relative;
    height: 424px;
  }

  .template .overlap-group-2 {
    position: absolute;
    width: 452px;
    height: 424px;
    top: 0;
    left: 52px;
  }

  .template .rectangle-3 {
    position: absolute;
    width: 338px;
    height: 348px;
    top: 48px;
    left: 12px;
  }

  .template .rectangle-4 {
    position: absolute;
    width: 58px;
    height: 34px;
    top: 353px;
    left: 0;
  }

  .template .technology {
    position: absolute;
    width: 377px;
    height: 424px;
    top: 0;
    left: 47px;
  }

  .template .image {
    width: 362px;
    height: 110px;
    top: 314px;
    left: 90px;
    position: absolute;
    object-fit: cover;
  }

  .template .image-2 {
    width: 158px;
    height: 158px;
    top: 48px;
    left: 294px;
    position: absolute;
    object-fit: cover;
  }

  .template .rectangle-5 {
    position: absolute;
    width: 53px;
    height: 53px;
    top: 48px;
    left: 0;
  }

  .template .container-wrapper {
    position: relative;
    width: 1440px;
    height: 1156px;
    background-color: var(--faded-secondary-color-2);
  }

  .template .container-4 {
    display: flex;
    flex-direction: column;
    width: 1050px;
    align-items: center;
    gap: 80px;
    padding: 160px 0px;
    position: relative;
    left: 195px;
  }

  .template .main-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 1044px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }

  .template .main-content {
    display: flex;
    flex-direction: column;
    width: 691px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--h-6-font-family);
    font-weight: var(--h-6-font-weight);
    color: var(--primary-text-color);
    font-size: var(--h-6-font-size);
    letter-spacing: var(--h-6-letter-spacing);
    line-height: var(--h-6-line-height);
    white-space: nowrap;
    font-style: var(--h-6-font-style);
  }

  .template .row-4 {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .col-md-5 {
    display: flex;
    flex-direction: column;
    width: 328px;
    align-items: center;
    position: relative;
  }

  .template .product-card {
    display: flex;
    flex-direction: column;
    width: 348px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    margin-left: -10px;
    margin-right: -10px;
    background-color: var(--light-background-color);
  }

  .template .fixed-height {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 300px;
  }

  .template .product-actions-sec {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 236px;
    left: 104px;
  }

  .template .icn-favorite-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: var(--light-background-color);
    border-radius: 44.79px;
    overflow: hidden;
  }

  .template .icn-favorite {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 10px;
  }

  .template .tag-sec {
    display: inline-flex;
    align-items: center;
    padding: 0px 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--danger-color);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: var(--light-drop-shadow);
  }

  .template .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--h-6-font-family);
    font-weight: var(--h-6-font-weight);
    color: #ffffff;
    font-size: var(--h-6-font-size);
    text-align: center;
    letter-spacing: var(--h-6-letter-spacing);
    line-height: var(--h-6-line-height);
    white-space: nowrap;
    font-style: var(--h-6-font-style);
  }

  .template .frame-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 25px 25px 35px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .template .frame-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .template .frame-sec {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--dark-background-color);
    border-radius: 20px;
    overflow: hidden;
  }

  .template .img-2 {
    position: relative;
    width: 16px;
    height: 16px;
  }

  .template .small {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--small-font-family);
    font-weight: var(--small-font-weight);
    color: #ffffff;
    font-size: var(--small-font-size);
    letter-spacing: var(--small-letter-spacing);
    line-height: var(--small-line-height);
    white-space: nowrap;
    font-style: var(--small-font-style);
  }

  .template .product-title {
    position: relative;
    width: fit-content;
    font-family: var(--h-5-font-family);
    font-weight: var(--h-5-font-weight);
    color: var(--text-color);
    font-size: var(--h-5-font-size);
    letter-spacing: var(--h-5-letter-spacing);
    line-height: var(--h-5-line-height);
    white-space: nowrap;
    font-style: var(--h-5-font-style);
  }

  .template .text-wrapper-6 {
    margin-top: -1px;
    font-weight: var(--h-6-font-weight);
    color: var(--second-text-color);
    font-size: var(--h-6-font-size);
    line-height: var(--h-6-line-height);
    white-space: nowrap;
    position: relative;
    width: fit-content;
    font-family: var(--h-6-font-family);
    letter-spacing: var(--h-6-letter-spacing);
    font-style: var(--h-6-font-style);
  }

  .template .prices {
    display: inline-flex;
    align-items: flex-start;
    gap: 5px;
    padding: 5px 3px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .price-sec {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--h-5-font-family);
    font-weight: var(--h-5-font-weight);
    color: var(--muted-color);
    font-size: var(--h-5-font-size);
    text-align: center;
    letter-spacing: var(--h-5-letter-spacing);
    line-height: var(--h-5-line-height);
    white-space: nowrap;
    font-style: var(--h-5-font-style);
  }

  .template .h-price-sec {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--h-5-font-family);
    font-weight: var(--h-5-font-weight);
    color: var(--secondary-color-1);
    font-size: var(--h-5-font-size);
    text-align: center;
    letter-spacing: var(--h-5-letter-spacing);
    line-height: var(--h-5-line-height);
    white-space: nowrap;
    font-style: var(--h-5-font-style);
  }

  .template .button-sm-sec {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 37px;
    overflow: hidden;
    border: 1px solid;
    border-color: #96bb7c;
  }

  .template .h {
    margin-top: -1px;
    font-weight: var(--h-6-font-weight);
    color: var(--primary-color);
    font-size: var(--h-6-font-size);
    line-height: var(--h-6-line-height);
    white-space: nowrap;
    position: relative;
    width: fit-content;
    font-family: var(--h-6-font-family);
    letter-spacing: var(--h-6-letter-spacing);
    font-style: var(--h-6-font-style);
  }

  .template .icn-arrow-right-icn-2 {
    position: relative;
    width: 9.14px;
    height: 16px;
  }

  .template .fixed-height-2 {
    height: 300px;
    position: relative;
    align-self: stretch;
    width: 100%;
  }

  .template .col-md-6 {
    display: flex;
    flex-direction: column;
    width: 329px;
    align-items: center;
    position: relative;
  }

  .template .product-card-2 {
    display: flex;
    flex-direction: column;
    width: 348px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    margin-left: -9.5px;
    margin-right: -9.5px;
    background-color: var(--light-background-color);
  }

  .template .fixed-height-3 {
    height: 300px;
    position: relative;
    align-self: stretch;
    width: 100%;
  }

  .template .element-layout-2 {
    position: relative;
    width: 1440px;
    height: 855px;
    background-color: var(--light-background-color);
  }

  .template .testimonials-card {
    display: flex;
    flex-direction: column;
    width: 348px;
    align-items: center;
    padding: 25px;
    position: relative;
    flex: 0 0 auto;
    margin-left: -10px;
    margin-right: -10px;
    background-color: var(--light-background-color);
  }

  .template .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 30px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .template .stars {
    display: inline-flex;
    align-items: flex-start;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .img-3 {
    position: relative;
    width: 22.01px;
    height: 22.01px;
  }

  .template .paragraph {
    width: 159px;
    position: relative;
    font-family: var(--paragraph-font-family);
    font-weight: var(--paragraph-font-weight);
    color: var(--second-text-color);
    font-size: var(--paragraph-font-size);
    text-align: center;
    letter-spacing: var(--paragraph-letter-spacing);
    line-height: var(--paragraph-line-height);
    font-style: var(--paragraph-font-style);
  }

  .template .div-6 {
    display: inline-flex;
    height: 50px;
    align-items: center;
    gap: 15px;
    position: relative;
  }

  .template .circle {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .template .div-7 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }

  .template .h-2 {
    font-weight: var(--small-font-weight);
    color: var(--text-color);
    font-size: var(--small-font-size);
    line-height: var(--small-line-height);
    white-space: nowrap;
    position: relative;
    width: fit-content;
    font-family: var(--small-font-family);
    letter-spacing: var(--small-letter-spacing);
    font-style: var(--small-font-style);
  }

  .template .circle-2 {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .template .testimonials-card-2 {
    display: flex;
    flex-direction: column;
    width: 348px;
    align-items: center;
    padding: 25px;
    position: relative;
    flex: 0 0 auto;
    margin-left: -9.5px;
    margin-right: -9.5px;
    background-color: var(--light-background-color);
  }

  .template .circle-3 {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .template .element-layout-3 {
    position: relative;
    width: 1440px;
    height: 849px;
    background-color: var(--light-background-color);
  }

  .template .container-5 {
    display: flex;
    flex-direction: column;
    width: 1050px;
    align-items: center;
    gap: 112px;
    padding: 112px 0px;
    position: relative;
    left: 195px;
  }

  .template .user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--light-background-color);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--accentued-drop-shadow);
  }

  .template .fixed-height-sec {
    height: 231px;
    position: relative;
    align-self: stretch;
    width: 100%;
  }

  .template .card-content-2 {
    display: flex;
    flex-direction: column;
    width: 232px;
    align-items: center;
    gap: 10px;
    padding: 30px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .user-title-sec {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--h-5-font-family);
    font-weight: var(--h-5-font-weight);
    color: var(--text-color);
    font-size: var(--h-5-font-size);
    text-align: center;
    letter-spacing: var(--h-5-letter-spacing);
    line-height: var(--h-5-line-height);
    white-space: nowrap;
    font-style: var(--h-5-font-style);
  }

  .template .small-job {
    position: relative;
    width: fit-content;
    font-family: var(--small-font-family);
    font-weight: var(--small-font-weight);
    color: var(--second-text-color);
    font-size: var(--small-font-size);
    text-align: center;
    letter-spacing: var(--small-letter-spacing);
    line-height: var(--small-line-height);
    white-space: nowrap;
    font-style: var(--small-font-style);
  }

  .template .div-8 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .facebook {
    position: relative;
    width: 24px;
    height: 24px;
    background-image: url(https://c.animaapp.com/mb9pesf442tRSF/img/ant-design-facebook-filled.svg);
    background-size: 100% 100%;
  }

  .template .instagram {
    position: relative;
    width: 24px;
    height: 24px;
    background-image: url(https://c.animaapp.com/mb9pesf442tRSF/img/ant-design-instagram-outlined.svg);
    background-size: 100% 100%;
  }

  .template .twitter {
    position: relative;
    width: 24px;
    height: 19.76px;
    background-image: url(https://c.animaapp.com/mb9pesf442tRSF/img/ant-design-twitter-outlined.svg);
    background-size: 100% 100%;
  }

  .template .fixed-height-sec-2 {
    background: url(https://c.animaapp.com/mb9pesf442tRSF/img/user-cover-2.png)
      50% 50% / cover;
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 231px;
  }

  .template .fixed-height-sec-3 {
    background: url(https://c.animaapp.com/mb9pesf442tRSF/img/user-cover-3.png)
      50% 50% / cover;
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 231px;
  }

  .template .fixed-height-sec-4 {
    background: url(https://c.animaapp.com/mb9pesf442tRSF/img/user-cover-4.png)
      50% 50% / cover;
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 231px;
  }

  .template .element-layout-4 {
    height: 594px;
    position: relative;
    width: 1440px;
    background-color: var(--light-background-color);
  }

  .template .row-5 {
    display: flex;
    flex-direction: column;
    width: 692px;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
  }

  .template .main-content-2 {
    display: flex;
    flex-direction: column;
    width: 691px;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .section-tag-sec {
    text-align: center;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--h-6-font-family);
    font-weight: var(--h-6-font-weight);
    color: var(--primary-text-color);
    font-size: var(--h-6-font-size);
    letter-spacing: var(--h-6-letter-spacing);
    line-height: var(--h-6-line-height);
    white-space: nowrap;
    font-style: var(--h-6-font-style);
  }

  .template .h-section-title {
    position: relative;
    width: fit-content;
    font-family: var(--h-3-font-family);
    font-weight: var(--h-3-font-weight);
    color: var(--text-color);
    font-size: var(--h-3-font-size);
    text-align: center;
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    white-space: nowrap;
    font-style: var(--h-3-font-style);
  }

  .template .paragraph-sec {
    width: fit-content;
    position: relative;
    font-family: var(--paragraph-font-family);
    font-weight: var(--paragraph-font-weight);
    color: var(--second-text-color);
    font-size: var(--paragraph-font-size);
    text-align: center;
    letter-spacing: var(--paragraph-letter-spacing);
    line-height: var(--paragraph-line-height);
    font-style: var(--paragraph-font-style);
  }

  .template .row-sec {
    display: flex;
    width: 688px;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .subscribe-wrapper {
    display: flex;
    flex-direction: column;
    width: 688px;
    align-items: center;
    position: relative;
  }

  .template .subscribe {
    position: relative;
    width: 688px;
    height: 58px;
  }

  .template .input-group {
    height: 58px;
  }

  .template .overlap-group-3 {
    position: relative;
    width: 688px;
    height: 58px;
    border-radius: 5px;
  }

  .template .form-control-input {
    position: absolute;
    width: 688px;
    height: 58px;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
    border-color: #e6e6e6;
  }

  .template .text-wrapper-7 {
    position: absolute;
    top: 14px;
    left: 20px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: var(--second-text-color);
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 28px;
    white-space: nowrap;
  }

  .template .input-group-append {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 117px;
    height: 58px;
    top: 0;
    left: 571px;
  }

  .template .btn {
    all: unset;
    box-sizing: border-box;
    position: relative;
    height: 58px;
    background-color: var(--primary-color);
    border-radius: 0px 5px 5px 0px;
    overflow: hidden;
    border: 1px solid;
    border-color: #e6e6e6;
  }

  .template .input-group-text {
    position: absolute;
    top: 14px;
    left: 22px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2px;
    line-height: 28px;
    white-space: nowrap;
  }

  .template .footer {
    position: relative;
    width: 1440px;
    height: 346px;
    background-color: #f9f9f9;
  }

  .template .div-9 {
    position: absolute;
    width: 1440px;
    height: 272px;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }

  .template .container-6 {
    display: flex;
    flex-direction: column;
    width: 1050px;
    align-items: flex-start;
    padding: 50px 0px;
    position: relative;
    left: 195px;
  }

  .template .col-md-7 {
    flex-direction: column;
    width: 148px;
    align-items: flex-start;
    gap: 20px;
    display: flex;
    position: relative;
  }

  .template .h-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--h-5-font-family);
    font-weight: var(--h-5-font-weight);
    color: var(--text-color);
    font-size: var(--h-5-font-size);
    letter-spacing: var(--h-5-letter-spacing);
    line-height: var(--h-5-line-height);
    white-space: nowrap;
    font-style: var(--h-5-font-style);
  }

  .template .div-10 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .link-2 {
    margin-top: -1px;
    color: var(--second-text-color);
    position: relative;
    width: fit-content;
    font-family: var(--link-font-family);
    font-weight: var(--link-font-weight);
    font-size: var(--link-font-size);
    letter-spacing: var(--link-letter-spacing);
    line-height: var(--link-line-height);
    white-space: nowrap;
    font-style: var(--link-font-style);
  }

  .template .link-3 {
    color: var(--second-text-color);
    position: relative;
    width: fit-content;
    font-family: var(--link-font-family);
    font-weight: var(--link-font-weight);
    font-size: var(--link-font-size);
    letter-spacing: var(--link-letter-spacing);
    line-height: var(--link-line-height);
    white-space: nowrap;
    font-style: var(--link-font-style);
  }

  .template .col-md-8 {
    display: flex;
    flex-direction: column;
    width: 152px;
    align-items: flex-start;
    gap: 20px;
    position: relative;
  }

  .template .col-md-9 {
    display: flex;
    flex-direction: column;
    width: 321px;
    align-items: flex-start;
    gap: 20px;
    position: relative;
  }

  .template .bx-bx-phone {
    height: 24px;
    position: relative;
    width: 24px;
  }

  .template .bx-bx-map {
    height: 30px;
    position: relative;
    width: 24px;
  }

  .template .h-4 {
    margin-top: -1px;
    font-weight: var(--h-6-font-weight);
    color: var(--second-text-color);
    font-size: var(--h-6-font-size);
    line-height: var(--h-6-line-height);
    position: relative;
    width: fit-content;
    font-family: var(--h-6-font-family);
    letter-spacing: var(--h-6-letter-spacing);
    font-style: var(--h-6-font-style);
  }

  .template .carbon-send-alt {
    position: relative;
    width: 24px;
    height: 26px;
  }

  .template .h-5 {
    font-weight: var(--h-6-font-weight);
    color: var(--second-text-color);
    font-size: var(--h-6-font-size);
    line-height: var(--h-6-line-height);
    white-space: nowrap;
    position: relative;
    width: fit-content;
    font-family: var(--h-6-font-family);
    letter-spacing: var(--h-6-letter-spacing);
    font-style: var(--h-6-font-style);
  }

  .template .div-11 {
    position: absolute;
    width: 1440px;
    height: 74px;
    top: 272px;
    left: 0;
    background-color: #f9f9f9;
  }

  .template .container-7 {
    display: flex;
    flex-direction: column;
    width: 1050px;
    align-items: flex-start;
    padding: 25px 0px;
    position: relative;
    left: 195px;
  }

  .template .row-6 {
    display: inline-flex;
    align-items: center;
    gap: 213px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .col-md-10 {
    flex-direction: column;
    width: 600px;
    align-items: flex-start;
    display: flex;
    position: relative;
  }

  .template .social-media-wrapper {
    display: flex;
    flex-direction: column;
    width: 236px;
    align-items: center;
    position: relative;
  }
}
