.temp2 {
  background-color: #ffffff;

  .template {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .div {
      background-color: #ffffff;
      overflow: hidden;
      width: 100%;
      position: relative;
    }

    .brand-text {
      margin: 0;
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.167;
    }

    .overlap {
      width: 100%;
      height: 663px;
      background-size: 100% 100%;
      position: relative;

      figure {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
      }

      .hero-content {
        position: absolute;
        top: 0;
        left: 7em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        height: 100%;
        justify-content: center;
      }

      .text-wrapper {
        font-family: "Integral CF-Bold", Helvetica;
        font-weight: 800;
        color: "inherit";
        font-size: 64px;
        letter-spacing: 0;
        line-height: 64px;
        width: 10em;
      }

      .p {
        width: 545px;
        font-family: "Satoshi-Regular", Helvetica;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
        letter-spacing: 0;
        line-height: 22px;
      }

      .frame {
        display: flex;
        width: 210px;
        height: 52px;
        align-items: center;
        justify-content: center;
        gap: 12px;
        padding: 16px 54px;
        border-radius: 62px;
        overflow: hidden;
        cursor: pointer;
        outline: none;
        border: none;
      }

      .frame-2 {
        display: inline-flex;
        align-items: center;
        gap: 32px;
      }
    }

    .frame-4 {
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .sign-up-and-get {
      font-family: "Satoshi-Regular", Helvetica;
      font-weight: 400;
      color: #ffffff;
      font-size: 14px;
      letter-spacing: 0;
      line-height: normal;
    }

    .frame-6 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      padding: 1em;
      background: #fff;
    }

    .frame-7 {
      display: inline-flex;
      align-items: center;
      gap: 24px;
      position: relative;
      flex: 0 0 auto;
      color: #000000;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .overlap-group {
      height: 122px;
      color: #ffffff;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .text-wrapper-9 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2em 0;

      .p {
        font-family: "Integral CF-Bold", Helvetica;
        font-weight: 800;
        color: "inherit";
        font-size: 48px;
        letter-spacing: 0;
        line-height: normal;
      }
    }

    .new-arrivals {
      justify-content: center;

      .image-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;

        figure {
          width: 295px;
          height: 298px;
          background-color: #f0eeed;
          border-radius: 20px;
          overflow: hidden;
        }

        .title {
          height: 27px;
          font-family: "Satoshi-Bold", Helvetica;
          font-weight: 700;
          color: #000000;
          font-size: 20px;
          letter-spacing: 0;
          line-height: normal;
        }

        .frame-13 {
          display: inline-flex;
          align-items: center;
          gap: 13px;
        }

        .div-wrapper {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .frame-22 {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .text-wrapper-15 {
          width: fit-content;
          margin-top: -1px;
          font-family: "Satoshi-Bold", Helvetica;
          font-weight: 700;
          color: #000000;
          font-size: 24px;
          letter-spacing: 0;
          line-height: normal;
        }
      }

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .frame-32 {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3em 0px;
      border-bottom: 1px solid #ccc;
      width: 90%;
      margin: 0 auto;

      button {
        display: flex;
        width: 218px;
        height: 52px;
        align-items: center;
        justify-content: center;
        gap: 12px;
        padding: 16px 54px;
        border-radius: 62px;
        overflow: hidden;
        border: 1px solid;
        background-color: transparent;
        border-color: #0000001a;
      }
    }

    .frame-34-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 4em;

      .frame-35 {
        width: 1239px;
        background-color: #f0f0f0;
        border-radius: 40px;
        overflow: hidden;
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 2em;

        .text-wrapper-25 {
          height: 58px;
          font-family: "Integral CF-Bold", Helvetica;
          font-weight: 700;
          color: #000000;
          font-size: 48px;
          text-align: center;
          letter-spacing: 0;
          line-height: normal;
        }

        .frame-34 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 2em;
        }

        .overlap-group-wrapper {
          width: 40%;
          height: 289px;
          background-color: #ffffff;
          border-radius: 20px;
          overflow: hidden;
          position: relative;

          .overlap-group-2 {
            height: 289px;
            background-size: cover;
            background-position: 50% 50%;
          }
        }

        .overlap-wrapper {
          width: 60%;
          height: 289px;
          background-color: #ffffff;
          border-radius: 20px;
          overflow: hidden;
          position: relative;

          .overlap-group-2 {
            height: 289px;
            background-size: cover;
            background-position: 50% 50%;
          }
        }

        .frame-36 {
          width: 60%;
          height: 289px;
          background-color: #ffffff;
          border-radius: 20px;
          overflow: hidden;
        }

        .frame-37 {
          width: 40%;
          height: 289px;
          background-color: #ffffff;
          border-radius: 20px;
          overflow: hidden;
        }
      }
    }

    .group-wrapper {
      width: 1441px;
      height: 589px;
      margin-top: 5em;
    }

    .text-wrapper-31 {
      font-family: "Satoshi-Medium", Helvetica;
      font-weight: 500;
      color: #000000;
      font-size: 16px;
      letter-spacing: 0;
      line-height: normal;
    }

    .frame-52 {
      display: flex;
      width: 90%;
      align-items: flex-start;
      justify-content: space-between;
    }

    .frame-56 {
      display: inline-flex;
      align-items: flex-end;
      gap: 12px;
    }

    .element-all-rights-wrapper {
      position: relative;
      font-size: 16px;
      width: 90%;
      text-align: start;
      margin: 2em 0;

      .element-all-rights {
        width: fit-content;
        font-family: "Satoshi-Regular", Helvetica;
        font-weight: 400;
        color: #00000099;
        font-size: 14px;
        text-align: right;
        letter-spacing: 0;
        line-height: normal;
      }
    }

    .text-wrapper-2 {
      position: relative;
      width: fit-content;
      margin-top: -2px;
      font-family: "Satoshi-Medium", Helvetica;
      font-weight: 500;
      color: #ffffff;
      font-size: 16px;
      letter-spacing: 0;
      line-height: normal;
    }

    .frame-3 {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      flex: 0 0 auto;
    }

    .text-wrapper-3 {
      position: relative;
      width: fit-content;
      margin-top: -1px;
      font-family: "Satoshi-Bold", Helvetica;
      font-weight: 700;
      color: "inherit";
      font-size: 40px;
      letter-spacing: 0;
      line-height: normal;
    }

    .text-wrapper-4 {
      position: relative;
      width: fit-content;
      margin-top: -2px;
      font-family: "Satoshi-Regular", Helvetica;
      font-weight: 400;
      color: #00000099;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 22px;
      white-space: nowrap;
    }

    .span {
      font-family: "Satoshi-Regular", Helvetica;
      font-weight: 400;
      color: #ffffff;
      font-size: 14px;
      letter-spacing: 0;
    }

    .text-wrapper-5 {
      font-family: "Satoshi-Medium", Helvetica;
      font-weight: 500;
      text-decoration: underline;
      cursor: pointer;
    }

    .text-wrapper-6 {
      position: relative;
      width: fit-content;
      font-family: "Integral CF-Bold", Helvetica;
      font-weight: 700;
      color: "inherit";
      font-size: 32px;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }

    .frame-8 {
      display: inline-flex;
      align-items: center;
      gap: 4px;
      position: relative;
      flex: 0 0 auto;
    }

    .text-wrapper-7 {
      position: relative;
      width: fit-content;
      margin-top: -1px;
      font-family: "Satoshi-Regular", Helvetica;
      font-weight: 400;
      color: #000000;
      font-size: 16px;
      letter-spacing: 0;
      line-height: normal;
    }

    .frame-10 {
      flex: 1;
      flex-grow: 1;
      background-color: #f0f0f0;
      display: flex;
      align-items: flex-start;
      gap: 12px;
      padding: 12px 16px;
      position: relative;
      border-radius: 62px;
      overflow: hidden;
      color: #000000;
    }

    .frame-11 {
      position: relative;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }

    .frame-12 {
      display: inline-flex;
      align-items: flex-start;
      gap: 14px;
      position: relative;
      flex: 0 0 auto;
    }

    .group {
      position: absolute;
      width: 166px;
      height: 33px;
      top: 44px;
      left: 100px;
    }

    .group-2 {
      position: absolute;
      width: 207px;
      height: 33px;
      top: 44px;
      left: 1131px;
    }
  }

  .template .element {
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 14px;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    letter-spacing: 0;
    line-height: normal;
  }

  .template .text-wrapper-12 {
    color: #000000;
  }

  .template .text-wrapper-13 {
    color: #00000099;
  }

  .template .text-wrapper-16 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    color: #00000066;
    text-decoration: line-through;
    font-family: "Satoshi-Bold", Helvetica;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }

  .template .frame-21 {
    display: flex;
    width: 58px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 6px 14px;
    position: relative;
    background-color: #ff33331a;
    border-radius: 62px;
    overflow: hidden;
  }

  .template .text-wrapper-18 {
    margin-left: -0.5px;
    margin-right: -0.5px;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: #ff3333;
    font-size: 12px;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    letter-spacing: 0;
    line-height: normal;
  }

  .template .text-wrapper-24 {
    position: relative;
    width: fit-content;
    margin-top: -2px;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }

  .template .line-2 {
    top: 1663px;
    left: 100px;
    position: absolute;
    width: 1240px;
    height: 1px;
    object-fit: cover;
  }

  .template .text-wrapper-26 {
    position: absolute;
    height: 49px;
    top: 24px;
    left: 36px;
    font-family: "Satoshi-Bold", Helvetica;
    font-weight: 700;
    color: "inherit";
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }

  .template .overlap-2 {
    position: relative;
    width: 371px;
    height: 289px;
    left: 36px;
  }

  .template .overlap-3 {
    position: relative;
    height: 289px;
    background-size: cover;
    background-position: 50% 50%;
  }

  .template .overlap-4 {
    position: relative;
    width: 648px;
    height: 289px;
    left: 36px;
  }

  .template .group-3 {
    width: 1443px;
    height: 589px;
  }

  .template .overlap-group-3 {
    position: relative;
    width: 100%;
    height: 589px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  .template .rectangle {
    position: absolute;
    width: 100%;
    height: 499px;
    top: 90px;
    left: 0;
    background-color: #f0f0f0;
  }

  .template .frame-48 {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 36px 64px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    overflow: hidden;
  }

  .template .text-wrapper-30 {
    position: relative;
    width: 551px;
    height: 94px;
    font-family: "Integral CF-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 45px;
  }

  .template .frame-49 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .frame-51 {
    display: flex;
    width: 349px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 62px;
    overflow: hidden;
  }

  .template .frame-53 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .frame-54 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .text-wrapper-32 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Integral CF-Bold", Helvetica;
    font-weight: 700;
    color: "inherit";
    font-size: 33.5px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

  .template .text-wrapper-33 {
    position: relative;
    width: 248px;
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    color: #00000099;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
  }

  .template .social {
    position: relative;
    width: 148px;
    height: 28px;
  }

  .template .frame-55 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    position: relative;
    flex: 0 0 auto;
  }

  .template .HELP-MENU {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 18px;
    white-space: nowrap;
  }

  .template .about-features-works {
    position: relative;
    width: fit-content;
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    color: #00000099;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
  }

  .template .span-wrapper {
    width: fit-content;
    color: transparent;
    line-height: 16px;
    position: relative;
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
  }

  .template .text-wrapper-34 {
    color: #00000099;
    line-height: 19px;
  }

  .template .about-features-works-2 {
    width: 149px;
    color: #00000099;
    line-height: 19px;
    position: relative;
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
  }
}
